--- 
:conf: 
  :TEST_A: 
    :unselects: []

    :depends: 
    - Active Select/Unselect Example
    :hit: false
    :parent: Active Select/Unselect Example
    :value: 
    :key: :TEST_A
    :selects: []

    :title: config A
    :id: :config
    :children: []

  :FUN_A: 
    :unselects: []

    :depends: 
    - Dependency Example
    :hit: false
    :parent: Dependency Example
    :value: 
    :key: :FUN_A
    :selects: []

    :title: function A
    :id: :config
    :children: []

  :SIMPLE_CFG_A: 
    :unselects: []

    :depends: 
    - Config Example Group
    :hit: false
    :parent: Config Example Group
    :value: 
    :key: :SIMPLE_CFG_A
    :selects: []

    :title: simple config
    :id: :config
    :children: []

  :TEST_TEMP: 
    :unselects: []

    :depends: 
    - :NAMED_GROUP
    :hit: false
    :parent: :NAMED_GROUP
    :value: 
    :key: :TEST_TEMP
    :selects: []

    :title: just a test
    :id: :config
    :children: []

  :PACKAGE_A_FUN_B: 
    :unselects: []

    :depends: 
    - Package A options
    :hit: false
    :parent: Package A options
    :value: 
    :key: :PACKAGE_A_FUN_B
    :selects: []

    :title: function B
    :id: :config
    :children: []

  :CFG_A: 
    :unselects: []

    :depends: 
    - :CHOICE_MULTI_CONFIGS
    :hit: false
    :parent: :CHOICE_MULTI_CONFIGS
    :value: 
    :key: :CFG_A
    :selects: []

    :title: config 1
    :id: :config
    :range: 
    - 0
    - 1
    :children: []

  Config Example: 
    :unselects: []

    :depends: 
    - :RBUILD_TOP_GLOBAL
    :parent: :RBUILD_TOP_GLOBAL
    :key: Config Example
    :selects: []

    :title: Config Example
    :id: :menu
    :children: 
    - Config Example Group
  Menu from src folder: 
    :unselects: []

    :depends: 
    - :RBUILD_TOP_GLOBAL
    :parent: :RBUILD_TOP_GLOBAL
    :key: Menu from src folder
    :selects: []

    :title: Menu from src folder
    :id: :menu
    :children: 
    - :NAMED_GROUP
  :TEST_B: 
    :unselects: []

    :depends: 
    - Active Select/Unselect Example
    :hit: false
    :parent: Active Select/Unselect Example
    :value: 
    :key: :TEST_B
    :selects: 
    - :TEST_A
    :title: config B, select me will select A as well
    :id: :config
    :children: []

  Active Select/Unselect Example: 
    :unselects: []

    :depends: 
    - :RBUILD_TOP_GLOBAL
    :parent: :RBUILD_TOP_GLOBAL
    :key: Active Select/Unselect Example
    :selects: []

    :title: Active Select/Unselect Example
    :id: :menu
    :children: 
    - :TEST_A
    - :TEST_B
    - :TEST_C
  :FUN_B: 
    :unselects: []

    :depends: 
    - Dependency Example
    - :FUN_A
    :hit: false
    :parent: Dependency Example
    :value: 
    :key: :FUN_B
    :selects: []

    :title: function B depends A
    :id: :config
    :children: []

  :SIMPLE_CFG_WITH_DEFAULT_SELECTED: 
    :unselects: []

    :depends: 
    - Config Example Group
    :hit: true
    :parent: Config Example Group
    :value: 
    :key: :SIMPLE_CFG_WITH_DEFAULT_SELECTED
    :selects: []

    :title: simple config with default selected
    :id: :config
    :children: []

  :MODULE_A: 
    :unselects: []

    :depends: 
    - :NAMED_GROUP
    :hit: true
    :parent: :NAMED_GROUP
    :value: 
    :key: :MODULE_A
    :selects: []

    :title: config of MODULE A from other RConfig file
    :id: :config
    :children: []

  :PACKAGE_A_FUN_C: 
    :unselects: []

    :depends: 
    - Package A options
    :hit: false
    :parent: Package A options
    :value: 
    :key: :PACKAGE_A_FUN_C
    :selects: []

    :title: function C
    :id: :config
    :children: []

  Dependency Example: 
    :unselects: []

    :depends: 
    - :RBUILD_TOP_GLOBAL
    :parent: :RBUILD_TOP_GLOBAL
    :key: Dependency Example
    :selects: []

    :title: Dependency Example
    :id: :menu
    :children: 
    - :FUN_A
    - :FUN_B
    - :FUN_C
    - :FUN_D
    - group depends example
  :CFG_C: 
    :unselects: []

    :depends: 
    - :CHOICE_MULTI_CONFIGS
    :hit: false
    :parent: :CHOICE_MULTI_CONFIGS
    :value: 
    :key: :CFG_C
    :selects: []

    :title: config 3
    :id: :config
    :range: 
    - 0
    - 1
    :children: []

  :RBUILD_SYS_CONFIG_FILE: 
    :unselects: []

    :depends: 
    - RBuild System Options
    :hit: true
    :parent: RBuild System Options
    :value: rb.config
    :key: :RBUILD_SYS_CONFIG_FILE
    :no_export: true
    :selects: []

    :title: RBuild Configuration File
    :id: :choice
    :children: []

  :TEST_C: 
    :unselects: 
    - :TEST_A
    :depends: 
    - Active Select/Unselect Example
    :hit: false
    :parent: Active Select/Unselect Example
    :value: 
    :key: :TEST_C
    :selects: []

    :title: config C, select me will unselect A as well
    :id: :config
    :children: []

  :FUN_C: 
    :unselects: []

    :depends: 
    - Dependency Example
    :hit: false
    :parent: Dependency Example
    :value: 
    :key: :FUN_C
    :selects: []

    :title: function C
    :id: :config
    :children: []

  Choice Example: 
    :unselects: []

    :depends: 
    - :RBUILD_TOP_GLOBAL
    :parent: :RBUILD_TOP_GLOBAL
    :key: Choice Example
    :selects: []

    :title: Choice Example
    :id: :menu
    :children: 
    - :CHOICE_MULTI_CONFIGS
    - :CHOICE_FROM_NUM_RANGE
    - :CHOICE_FROM_RANGE_WITH_DESC
    - :CHOICE_INPUT_STRING
  :SIMPLE_CFG_WITH_DEFAULT_UNSELECTED: 
    :unselects: []

    :depends: 
    - Config Example Group
    :hit: false
    :parent: Config Example Group
    :value: 
    :key: :SIMPLE_CFG_WITH_DEFAULT_UNSELECTED
    :selects: []

    :title: simple config with default unselected
    :id: :config
    :children: []

  Config Example Group: 
    :unselects: []

    :depends: 
    - Config Example
    :parent: Config Example
    :key: Config Example Group
    :selects: []

    :title: Config Example Group
    :id: :group
    :children: 
    - :SIMPLE_CFG_A
    - :SIMPLE_CFG_WITH_DEFAULT_SELECTED
    - :SIMPLE_CFG_WITH_DEFAULT_UNSELECTED
    - :CFG_WITH_GIVEN_VALUE
  :PACKAGE_A_FUN_D: 
    :unselects: []

    :depends: 
    - Package A options
    :hit: false
    :parent: Package A options
    :value: 
    :key: :PACKAGE_A_FUN_D
    :selects: []

    :title: function D
    :id: :config
    :children: []

  group depends example: 
    :unselects: []

    :depends: 
    - Dependency Example
    :parent: Dependency Example
    :key: group depends example
    :selects: []

    :title: group depends example
    :id: :menu
    :children: 
    - :PACKAGE_A
    - Package A options
    - :PACKAGE_B
  :CHOICE_FROM_NUM_RANGE: 
    :unselects: []

    :depends: 
    - Choice Example
    :hit: false
    :parent: Choice Example
    :value: 
    :key: :CHOICE_FROM_NUM_RANGE
    :selects: []

    :title: choice from simple number range
    :id: :choice
    :range: !ruby/range 
      begin: 1
      end: 100
      excl: false
    :children: []

  :RBUILD_PLUGIN_EXP_C_HEADER_FILE: 
    :unselects: []

    :depends: 
    - RBuild System Options
    :hit: true
    :parent: RBuild System Options
    :value: include/config.h
    :key: :RBUILD_PLUGIN_EXP_C_HEADER_FILE
    :no_export: true
    :selects: []

    :title: RBuild Export File
    :id: :choice
    :children: []

  :FUN_D: 
    :unselects: []

    :depends: 
    - Dependency Example
    - :FUN_A
    - :FUN_C
    :hit: false
    :parent: Dependency Example
    :value: 
    :key: :FUN_D
    :selects: []

    :title: function D depends A & C
    :id: :config
    :children: []

  :CFG_WITH_GIVEN_VALUE: 
    :unselects: []

    :depends: 
    - Config Example Group
    :hit: false
    :parent: Config Example Group
    :value: 
    :key: :CFG_WITH_GIVEN_VALUE
    :selects: []

    :title: "config with: selected => 1, unselected => 0"
    :id: :config
    :range: 
    - 0
    - 1
    :children: []

  RBuild Configuration: 
    :unselects: []

    :depends: 
    - :RBUILD_TOP_GLOBAL
    :parent: :RBUILD_TOP_GLOBAL
    :key: RBuild Configuration
    :selects: []

    :title: RBuild Configuration
    :id: :menu
    :children: 
    - RBuild System Options
  :PACKAGE_A_FUN_E: 
    :unselects: []

    :depends: 
    - Package A options
    :hit: false
    :parent: Package A options
    :value: 
    :key: :PACKAGE_A_FUN_E
    :selects: []

    :title: function E
    :id: :config
    :children: []

  :CHOICE_FROM_RANGE_WITH_DESC: 
    :unselects: []

    :depends: 
    - Choice Example
    :hit: true
    :parent: Choice Example
    :value: 1
    :key: :CHOICE_FROM_RANGE_WITH_DESC
    :selects: []

    :title: choice from range with description
    :id: :choice
    :range: 
      0: Zero
      1: One
      2: Two
    :children: []

  :RBUILD_TOP_GLOBAL: 
    :depends: []

    :parent: :RBUILD_TOP_GLOBAL
    :key: :RBUILD_TOP_GLOBAL
    :title: Welcom to my project configuration system !
    :id: :menu
    :children: 
    - Config Example
    - Choice Example
    - Dependency Example
    - Active Select/Unselect Example
    - Menu from src folder
    - RBuild Configuration
  :RBUILD_PLUGIN_EXP_TARGETS_LIST: 
    :unselects: []

    :depends: 
    - RBuild System Options
    :hit: true
    :parent: RBuild System Options
    :value: targets.lst
    :key: :RBUILD_PLUGIN_EXP_TARGETS_LIST
    :hidden: true
    :no_export: true
    :selects: []

    :title: RBUILD_PLUGIN_EXP_TARGETS_LIST
    :id: :choice
    :children: []

  :PACKAGE_A: 
    :unselects: []

    :depends: 
    - group depends example
    :hit: false
    :parent: group depends example
    :value: 
    :key: :PACKAGE_A
    :selects: []

    :title: enable package A
    :id: :config
    :children: []

  :CHOICE_MULTI_CONFIGS: 
    :unselects: []

    :depends: 
    - Choice Example
    :hit: true
    :parent: Choice Example
    :value: :CFG_B
    :key: :CHOICE_MULTI_CONFIGS
    :selects: []

    :title: "choice from multiple configs, default: config 2"
    :id: :choice
    :children: 
    - :CFG_A
    - :CFG_B
    - :CFG_C
  :PACKAGE_B: 
    :unselects: []

    :depends: 
    - group depends example
    :hit: false
    :parent: group depends example
    :value: 
    :key: :PACKAGE_B
    :selects: []

    :title: enable package B
    :id: :config
    :children: []

  Package A options: 
    :unselects: []

    :depends: 
    - group depends example
    - :PACKAGE_A
    :parent: group depends example
    :key: Package A options
    :selects: []

    :title: Package A options
    :id: :group
    :children: 
    - :PACKAGE_A_FUN_A
    - :PACKAGE_A_FUN_B
    - :PACKAGE_A_FUN_C
    - :PACKAGE_A_FUN_D
    - :PACKAGE_A_FUN_E
  :CHOICE_INPUT_STRING: 
    :unselects: []

    :depends: 
    - Choice Example
    :hit: false
    :parent: Choice Example
    :value: 
    :key: :CHOICE_INPUT_STRING
    :selects: []

    :title: choice from simple input (string or number)
    :id: :choice
    :children: []

  RBuild System Options: 
    :unselects: []

    :depends: 
    - RBuild Configuration
    :parent: RBuild Configuration
    :key: RBuild System Options
    :selects: []

    :title: RBuild System Options
    :id: :group
    :children: 
    - :RBUILD_SYS_CONFIG_FILE
    - :RBUILD_PLUGIN_EXP_C_HEADER_FILE
    - :RBUILD_PLUGIN_EXP_TARGETS_LIST
  :NAMED_GROUP: 
    :unselects: []

    :depends: 
    - Menu from src folder
    :parent: Menu from src folder
    :key: :NAMED_GROUP
    :selects: []

    :title: combiniation group
    :id: :group
    :children: 
    - :TEST_TEMP
    - :MODULE_A
  :PACKAGE_A_FUN_A: 
    :unselects: []

    :depends: 
    - Package A options
    :hit: false
    :parent: Package A options
    :value: 
    :key: :PACKAGE_A_FUN_A
    :selects: []

    :title: function A
    :id: :config
    :children: []

  :CFG_B: 
    :unselects: []

    :depends: 
    - :CHOICE_MULTI_CONFIGS
    :hit: true
    :parent: :CHOICE_MULTI_CONFIGS
    :value: 
    :key: :CFG_B
    :selects: []

    :title: config 2
    :id: :config
    :range: 
    - 0
    - 1
    :children: []

